@page "/reports/login-as"
@implements IDisposable

@inject IDbContextFactory<MyCsustanContext> DbFactory

<PageTitle>Login As Audit Report</PageTitle>

<RadzenCard>
    <h3>Login As Audit Report</h3>
    <RadzenStack Orientation="Orientation.Horizontal" Gap="1rem" AlignItems="AlignItems.Center" class="rz-mb-3">
        <RadzenDatePicker @bind-Value="_from" ShowTime="true" Style="width: 200px" />
        <RadzenDatePicker @bind-Value="_to" ShowTime="true" Style="width: 200px" />
        <RadzenButton Text="Run" Icon="play_arrow" Click="LoadAsync" />
    </RadzenStack>

    @if (_isLoading)
    {
        <Spinner />
    }
    else
    {
        <ReportGenerator Items="_results">
        <HeaderTemplate>
            <tr>
                <th>Login Date</th>
                <th>User</th>
                <th>Logging In As</th>
            </tr>
        </HeaderTemplate>
        <RowTemplate Context="row">
            <tr>
                <td>@row.LoginDateTime</td>
                <td>@row.UserLoggingIn</td>
                <td>@row.LoggingInAs</td>
            </tr>
        </RowTemplate>
        </ReportGenerator>
    }
</RadzenCard>

@code {
    private MyCsustanContext? _db;
    private DateTime _from = DateTime.Today.AddDays(-7);
    private DateTime _to = DateTime.Today.AddDays(1);
    private List<LoginA> _results = new();
    private bool _isLoading;

    protected override async Task OnInitializedAsync()
    {
        _db = await DbFactory.CreateDbContextAsync();
        await LoadAsync();
    }

    private async Task LoadAsync()
    {
        _isLoading = true;
        StateHasChanged();

        _results = await _db!.LoginAs
            .Where(l => l.LoginDateTime >= _from && l.LoginDateTime <= _to)
            .OrderByDescending(l => l.LoginDateTime)
            .ToListAsync();

        _isLoading = false;
    }

    public void Dispose()
    {
        _db?.Dispose();
    }
}
