@page "/admin-users"
@implements IDisposable
@rendermode InteractiveServer

@inject IDbContextFactory<MyCsustanContext> DbFactory
@inject DialogService DialogService

<PageTitle>Admin Users</PageTitle>

<RadzenCard>
    <RadzenStack Orientation="Orientation.Horizontal" AlignItems="AlignItems.Center" JustifyContent="JustifyContent.SpaceBetween">
        <h3>Admin Users</h3>
        <RadzenButton Text="Add" Icon="add" Click="CreateAsync" />
    </RadzenStack>

    <RadzenDataGrid TItem="AdminUser"
                    Data="@_query"
                    @ref="_grid"
                    AllowSorting="true"
                    AllowFiltering="true"
                    FilterMode="FilterMode.SimpleWithMenu"
                    AllowPaging="true"
                    PageSize="20">
        <Columns>
            <RadzenDataGridColumn TItem="AdminUser" Property="AdminUserId" Title="ID" Width="90px" />
            <RadzenDataGridColumn TItem="AdminUser" Property="Username" Title="Username" />
            <RadzenDataGridColumn TItem="AdminUser" Property="FirstName" Title="First Name" />
            <RadzenDataGridColumn TItem="AdminUser" Property="LastName" Title="Last Name" />
            <RadzenDataGridColumn TItem="AdminUser" Property="UserLevel" Title="User Level" Width="120px" />
            <RadzenDataGridColumn TItem="AdminUser" Title="Actions" Width="120px">
                <Template Context="item">
                    <RadzenButton Size="ButtonSize.Small" Text="Edit" Icon="edit" Click="() => EditAsync(item.AdminUserId)" />
                </Template>
            </RadzenDataGridColumn>
        </Columns>
    </RadzenDataGrid>
</RadzenCard>

@code {
    private MyCsustanContext? _db;
    private IQueryable<AdminUser>? _query;
    private RadzenDataGrid<AdminUser>? _grid;

    protected override async Task OnInitializedAsync()
    {
        _db = await DbFactory.CreateDbContextAsync();
        _query = _db.AdminUsers.AsNoTracking();
    }

    private async Task CreateAsync()
    {
        await OpenDialogAsync(null);
    }

    private async Task EditAsync(int id)
    {
        await OpenDialogAsync(id);
    }

    private async Task OpenDialogAsync(int? id)
    {
        var result = await DialogService.OpenAsync<AdminUserDialog>(
            id is null ? "Add Admin User" : "Edit Admin User",
            new Dictionary<string, object?> { [nameof(AdminUserDialog.AdminUserId)] = id },
            new DialogOptions { Width = "700px", Height = "auto" });

        if (result is true)
        {
            await _grid!.Reload();
        }
    }

    public void Dispose()
    {
        _db?.Dispose();
    }
}
