@page "/base-urls"
@implements IDisposable

@inject IDbContextFactory<MyCsustanContext> DbFactory
@inject DialogService DialogService

<PageTitle>Base URLs</PageTitle>

<RadzenCard>
    <RadzenStack Orientation="Orientation.Horizontal" AlignItems="AlignItems.Center" JustifyContent="JustifyContent.SpaceBetween">
        <h3>Base URLs</h3>
        <RadzenButton Text="Add" Icon="add" Click="CreateAsync" />
    </RadzenStack>

    <RadzenDataGrid TItem="BaseUrl"
                    Data="@_query"
                    @ref="_grid"
                    AllowSorting="true"
                    AllowFiltering="true"
                    FilterMode="FilterMode.SimpleWithMenu"
                    AllowPaging="true"
                    PageSize="20">
        <Columns>
            <RadzenDataGridColumn TItem="BaseUrl" Property="BaseUrlId" Title="ID" Width="90px" />
            <RadzenDataGridColumn TItem="BaseUrl" Property="BaseUrlName" Title="Name" />
            <RadzenDataGridColumn TItem="BaseUrl" Property="Url" Title="URL" />
            <RadzenDataGridColumn TItem="BaseUrl" Title="Actions" Width="120px">
                <Template Context="item">
                    <RadzenButton Size="ButtonSize.Small" Text="Edit" Icon="edit" Click="() => EditAsync(item.BaseUrlId)" />
                </Template>
            </RadzenDataGridColumn>
        </Columns>
    </RadzenDataGrid>
</RadzenCard>

@code {
    private MyCsustanContext? _db;
    private IQueryable<BaseUrl>? _query;
    private RadzenDataGrid<BaseUrl>? _grid;

    protected override async Task OnInitializedAsync()
    {
        _db = await DbFactory.CreateDbContextAsync();
        _query = _db.BaseUrls.AsNoTracking();
    }

    private Task CreateAsync() => OpenDialogAsync(null);

    private Task EditAsync(int id) => OpenDialogAsync(id);

    private async Task OpenDialogAsync(int? id)
    {
        var result = await DialogService.OpenAsync<BaseUrlDialog>(
            id is null ? "Add Base URL" : "Edit Base URL",
            new Dictionary<string, object?> { [nameof(BaseUrlDialog.BaseUrlId)] = id },
            new DialogOptions { Width = "650px", Height = "auto" });

        if (result is true)
        {
            await _grid!.Reload();
        }
    }

    public void Dispose()
    {
        _db?.Dispose();
    }
}
