@inject IDbContextFactory<MyCsustanContext> DbFactory
@inject DialogService DialogService

<RadzenTemplateForm Data="@_model" TItem="StanCommunication" Submit="OnSubmit">
    <RadzenFieldset Text="Stan Communication">
        <RadzenStack Gap="1rem">
            <RadzenFormField Text="Subject" AllowFloatingLabel="false">
                <RadzenTextBox @bind-Value="_model.Subject" Name="Subject" Style="width: 100%" />
            </RadzenFormField>
            <RadzenFormField Text="Description" AllowFloatingLabel="false">
                <RadzenHtmlEditor @bind-Value="_model.Description" Name="Description" Style="width: 100%" />
            </RadzenFormField>
            <RadzenFormField Text="Display Date" AllowFloatingLabel="false">
                <RadzenDatePicker @bind-Value="_model.DisplayDateTime" Name="DisplayDateTime" ShowTime="true" Style="width: 100%" />
            </RadzenFormField>
            <RadzenFormField Text="Hide Date" AllowFloatingLabel="false">
                <RadzenDatePicker @bind-Value="_model.HideDateTime" Name="HideDateTime" ShowTime="true" Style="width: 100%" />
            </RadzenFormField>
            <RadzenFormField Text="Creation User" AllowFloatingLabel="false">
                <RadzenTextBox @bind-Value="_model.CreationUser" Name="CreationUser" Style="width: 100%" />
            </RadzenFormField>
            <RadzenFormField Text="Creation Date" AllowFloatingLabel="false">
                <RadzenDatePicker @bind-Value="_model.CreationDateTime" Name="CreationDateTime" ShowTime="true" Style="width: 100%" />
            </RadzenFormField>
            <RadzenFormField Text="Last Update User" AllowFloatingLabel="false">
                <RadzenTextBox @bind-Value="_model.LastUpdateUser" Name="LastUpdateUser" Style="width: 100%" />
            </RadzenFormField>
            <RadzenFormField Text="Last Update Date" AllowFloatingLabel="false">
                <RadzenDatePicker @bind-Value="_model.LastUpdateDateTime" Name="LastUpdateDateTime" ShowTime="true" Style="width: 100%" />
            </RadzenFormField>
            <RadzenStack Orientation="Orientation.Horizontal" AlignItems="AlignItems.Center" Gap="0.5rem">
                <RadzenCheckBox @bind-Value="_model.AllUsers" Name="AllUsers" />
                <label>All Users</label>
            </RadzenStack>

            <RadzenFieldset Text="Roles">
                <RadzenFormField Text="Role Assignments" AllowFloatingLabel="false">
                    <RadzenDropDown Data="_roles"
                                    TextProperty="RoleName"
                                    ValueProperty="PortalRoleId"
                                    Multiple="true"
                                    Chips="true"
                                    AllowClear="true"
                                    MaxSelectedLabels="30"
                                    @bind-Value="_selectedRoleIds"
                                    Style="width: 100%" />
                </RadzenFormField>
            </RadzenFieldset>
        </RadzenStack>
    </RadzenFieldset>

    <RadzenStack Orientation="Orientation.Horizontal" JustifyContent="JustifyContent.SpaceBetween" class="rz-mt-3">
        <RadzenButton Text="Delete" ButtonStyle="ButtonStyle.Danger" Click="OnDelete" Visible="@(_model.StanCommunicationId != 0)" />
        <RadzenStack Orientation="Orientation.Horizontal" Gap="0.5rem">
            <RadzenButton Text="Save" ButtonStyle="ButtonStyle.Primary" Type="ButtonType.Submit" />
            <RadzenButton Text="Cancel" ButtonStyle="ButtonStyle.Light" Click="() => DialogService.Close(false)" />
        </RadzenStack>
    </RadzenStack>
</RadzenTemplateForm>

@code {
    [Parameter] public int? StanCommunicationId { get; set; }

    private StanCommunication _model = new();
    private List<PortalRole> _roles = new();
    private IList<int> _selectedRoleIds = new List<int>();

    protected override async Task OnInitializedAsync()
    {
        await using var db = await DbFactory.CreateDbContextAsync();
        _roles = await db.PortalRoles.AsNoTracking().OrderBy(r => r.RoleName).ToListAsync();

        if (StanCommunicationId is null)
        {
            _model.CreationDateTime = DateTime.Now;
            _model.LastUpdateDateTime = DateTime.Now;
            return;
        }

        var entity = await db.StanCommunications
            .Include(s => s.PortalRoles)
            .FirstOrDefaultAsync(s => s.StanCommunicationId == StanCommunicationId.Value);
        if (entity is not null)
        {
            _model = entity;
            _selectedRoleIds = entity.PortalRoles.Select(r => r.PortalRoleId).ToList();
        }
    }

    private async Task OnSubmit(StanCommunication model)
    {
        await using var db = await DbFactory.CreateDbContextAsync();

        StanCommunication entity;
        if (model.StanCommunicationId == 0)
        {
            entity = new StanCommunication();
            db.StanCommunications.Add(entity);
        }
        else
        {
            entity = await db.StanCommunications
                .Include(s => s.PortalRoles)
                .FirstAsync(s => s.StanCommunicationId == model.StanCommunicationId);
        }

        entity.Subject = model.Subject;
        entity.Description = model.Description;
        entity.DisplayDateTime = model.DisplayDateTime;
        entity.HideDateTime = model.HideDateTime;
        entity.CreationDateTime = model.CreationDateTime;
        entity.CreationUser = model.CreationUser;
        entity.LastUpdateDateTime = model.LastUpdateDateTime;
        entity.LastUpdateUser = model.LastUpdateUser;
        entity.AllUsers = model.AllUsers;

        entity.PortalRoles.Clear();
        var selectedRoles = await db.PortalRoles
            .Where(r => _selectedRoleIds.Contains(r.PortalRoleId))
            .ToListAsync();
        foreach (var role in selectedRoles)
        {
            entity.PortalRoles.Add(role);
        }

        await db.SaveChangesAsync();
        DialogService.Close(true);
    }

    private async Task OnDelete()
    {
        var confirm = await DialogService.Confirm("Delete this communication?", "Confirm Delete");
        if (confirm != true)
        {
            return;
        }

        await using var db = await DbFactory.CreateDbContextAsync();
        var entity = await db.StanCommunications.FindAsync(_model.StanCommunicationId);
        if (entity is not null)
        {
            db.StanCommunications.Remove(entity);
            await db.SaveChangesAsync();
        }

        DialogService.Close(true);
    }
}
